{# Map file to allow for platform agnostic state files #}
{# --------------------------------------------------- #}
{# ca-certificates-mozilla map #}
{% set ca-certificates-mozilla = salt['grains.filter_by']({
    'default': {
        'name': 'ca-certificates-mozilla',
        'version': '',
        'requires': {},
        'install_method': 'pkg.latest'
        }
    },
    default='default')
%}

{# curl map #}
{% set curl = salt['grains.filter_by']({
    'default': {
        'name': 'curl',
        'version': '',
        'requrires': {},
        'install_method': 'pkg.installed'
        },
    'rhel_5': {
        'name': 'openssl',
        'version': '',
        'requrires': {},
        'install_method': 'pkg.latest'
        },
    'arch': {
        'name': 'openssl',
        'version': '',
        'requrires': {},
        'install_method': 'pkg.latest'
        },
    'opensuse': {
        'name': 'curl',
        'version': '',
        'requires': {'pkg': 'ca-certificates-mozilla'},
        'install_method': 'pkg.installed'
        }
    'gentoo': {
        'name': 'net-misc/curl',
        'version': '',
        'requires': {},
        'install_method': 'pkg.installed'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

