{# Map file to allow for platform agnostic state files #}
{# --------------------------------------------------- #}
{# ca-certificates-mozilla map #}
{% set ca-certificates-mozilla = salt['grains.filter_by']({
    'default': {
        'name': 'ca-certificates-mozilla',
        'version': '',
        'requires': {},
        'includes': {},
        'install_method': 'pkg.latest'
        }
    },
    default='default')
%}

{# curl map #}
{% set curl = salt['grains.filter_by']({
    'default': {
        'name': {'name': 'curl'},
        'version': '',
        'requires': {},
        'includes': {},
        'install_method': 'pkg.installed'
        },
    'rhel_5': {
        'name': {'name': 'curl'},
        'version': '',
        'requires': {'require': {'pkg': 'openssl'}},
        'includes': {'include': ['openssl']},
        'install_method': 'pkg.installed'
        },
    'arch': {
        'name': {'name': 'openssl'},
        'version': '',
        'requires': {},
        'includes': {},
        'install_method': 'pkg.latest'
        },
    'opensuse': {
        'name': {'name': 'curl'},
        'version': '',
        'requires': {'require': [{'pkg': 'ca-certificates-mozilla'}]},
        'includes': {'include': ['ca-certificates-mozilla']},
        'install_method': 'pkg.installed'
        }
    'gentoo': {
        'name': {'name': 'net-misc/curl'},
        'version': '',
        'requires': {},
        'includes': {},
        'install_method': 'pkg.installed'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}




