{# Map file to allow for platform agnostic state files #}
{# --------------------------------------------------- #}

{#
{# Template map #}
{% set template = salt['grains.filter_by']({
    'default': {
        'name': '',
        'version: '',
        requires: '',
        includes: '',
        install_method: ''
        }
    },
    default='default')
%}
#}
{# ca-certificates-mozilla map #}
{% set ca_certificates_mozilla = salt['grains.filter_by']({
    'default': {
        'name': 'ca-certificates-mozilla',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.latest'
        }
    },
    default='default')
%}

{# curl map #}
{% set curl = salt['grains.filter_by']({
    'default': {
        'name': 'curl',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        },
    'rhel_5': {
        'name': 'curl',
        'version': '',
        'requires': {'require': {'pkg': 'openssl'}},
        'includes': {'include': ['openssl']},
        'install_method': 'pkg.installed'
        },
    'arch': {
        'name': 'openssl',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.latest'
        },
    'opensuse': {
        'name': 'curl',
        'version': '',
        'requires': {'require': [{'pkg': 'ca-certificates-mozilla'}]},
        'includes': {'include': ['ca-certificates-mozilla']},
        'install_method': 'pkg.installed'
        },
    'gentoo': {
        'name': 'net-misc/curl',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# npm map #}
{% set npm = salt['grains.filter_by']({
    'default': {
        'name': 'npm',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        },
    'opensuse': {
        'name': 'nodejs',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        },
    'freebsd': {
        'name': 'www/npm',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        },
    'macos': {
        'name': 'node',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# Docker map #}
{% set docker = salt['grains.filter_by']({
    'default': {
        'name': 'docker',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.installed'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# Python-gnupg map #}
{% set template = salt['grains.filter_by']({
    'default': {
        'name': '',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': ''
        }
    'fedora': {
        'name': 'python-gnupg',
        'version': '',
        'requires': '',
        'includes': '',
        'install_method': 'pkg.remove'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}


{##### Python dependencies ####}
{#
{# template python map #}
{% set template = salt['grains.filter_by']({
    'default': {
        'name': ''
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}
#}

{# pip map #}
{% set pip = salt['grains.filter_by']({
    'default': {
        'name': 'curl -L "https://bootstrap.pypa.io/get-pip.py" -o get-pip.py && python get_pip.py -U pip<8.1.2',
        'version': '',
        'requires': {'require': [{'pkg': 'curl'}]},
        'includes': {'include': ['setup.packages.curl']},
        'install_method': 'cmd.run'
        },
    'arch': {
        'name': 'wget "https://bootstrap.pypa.io/get-pip.py" && python2 get_pip.py -U pip<8.1.2',
        'version': '',
        'requires': {'require': [{'pkg': 'curl'}]},
        'includes': {'include': ['setup.packages.curl']},
        'install_method': 'cmd.run'
        },
    'debian_7': {
        'name': 'curl -L "https://bootstrap.pypa.io/get-pip.py" -o get-pip.py && python get_pip.py -U pip<8.1.2',
        'version': '',
        'requires': {'require': [{'pkg': ['curl', 'python-dev']}]},
        'includes': {'include': ['setup.packages.curl', 'setup.python.headers']},
        'install_method': 'cmd.run'
        },
    'rhel_5': {
        'name': 'curl -L "https://bootstrap.pypa.io/get-pip.py" -o get-pip.py && python26 get_pip.py -U pip<8.1.2',
        'version': '',
        'requires': {'require': [{'pkg': ['curl', 'python26']}]},
        'includes': {'include': ['setup.packages.curl', 'setup.packages.python26']},
        'install_method': 'cmd.run'
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# argparse map #}
{% set argparse = salt['grains.filter_by']({
    'default': {
        'name': 'argparse',
        'version': '',
        'requires': {'require': {'cmd': ['pip-install']}},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# boto map #}
{% set boto = salt['grains.filter_by']({
    'default': {
        'name': ['boto>=2.33.0'],
        'requires': {'require': [{'cmd': ['pip-install']}},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# boto3 map #}
{% set boto3 = salt['grains.filter_by']({
    'default': {
        'name': ['boto3'],
        'requires': {'require': [{'cmd': ['pip-install']}},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# bottle map #}
{% set bottle = salt['grains.filter_by']({
    'default': {
        'name': ['bottle'],
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# cherrypy map #}
{% set cherrypy = salt['grains.filter_by']({
    'default': {
        'name': ['cherrypy'],
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# coverage map #}
{% set coverage = salt['grains.filter_by']({
    'default': {
        'name': ['coverage==3.7.1'],
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# dnspython map #}
{% set dnspython = salt['grains.filter_by']({
    'default': {
        'name': ['dnspython'],
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# docker-py map #}
{% set docker_py = salt['grains.filter_by']({
    'default': {
        'name': ['docker-py']
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# etcd map #}
{% set etcd = salt['grains.filter_by']({
    'default': {
        'name': ['python-etcd==0.4.2']
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# futures map #}
{% set futures = salt['grains.filter_by']({
    'default': {
        'name': ['futures']
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# gitpython map #}
{% set gitpythong = salt['grains.filter_by']({
    'default': {
        'name': ['gitpython']
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}

{# gnupg map #}
{% set gnupgg = salt['grains.filter_by']({
    'default': {
        'name': ['python-gnupg']
        'requires': {'require': [{'cmd': ['pip-install']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    'fedora': {
        'name': ['python-gnupg']
        'requires': {'require': [{'cmd': ['pip-install']}, {'pkg': ['remove-python-gnupg']}]},
        'includes': {'include': ['setup.python.pip']},
        'install_method': 'pip.installed',
        'index_urls': [{'index_url': ['https://pypi-jenkins.saltstack.com/jenkins/develop']}, {'extra_index_url': ['https://pypi.python.org/simple']}]
        }
    },
    merge=salt['pillar.get']('curl:lookup'), default='default')
%}


